<p>sysmaintli edit</p>

<table>
    <tr>
        <td>Menu:</td>
        <td><%= text_field_tag("mcode",params[:p1], disabled: true) %></td> 
        <td>Delivery Date:</td>
        <td><%= text_field_tag("dte",params[:p2], disabled: true) %></td> 
    </tr>
    
</table>

<br>
<p>Change to:</p>

<%= form_for :editli, url:{:controller=>'sysmaintli', :action=>'update'}, html:{method:'patch'} do |f| %>    
    <table>
        <tr>
            <td>Category:</td>
            <td><%= f.text_field :category, :value=>params[:p6] %></td>
        </tr>    
        <tr>
            <td>Item:</td>
            <td><%= f.text_field :item, :value=>params[:p4] %></td>
            </tr>    
        <tr>
            <td>Description:</td>
            <td><%= f.text_field :itemdesc, :value=>params[:p5] %></td>
        </tr>    
        
        <tr>
            <td><%= f.hidden_field :id, :value=>params[:id] %></td>
            <td><%= f.hidden_field :mcode, :value=>params[:p1] %></td>
            <td><%= f.hidden_field :dte, :value=>params[:p2] %></td>
        </tr>  
        
        </table>
    
    <%= f.submit "SAVE" %> 
    
<%end%>

    <br>


<%= link_to 'Back',  sysmaintli_path %> 
