<p>sysmainli show</p>
<style>
    table {font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 50%;
           }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;

</style>

<body>

<p>Edit</p>
<p>Menu: <%= params[:p1] %></p>
<p>Warehouse Delivery Date: <%= params[:p2] %></p>
<p>Staus: <%= params[:p3] %></p>

<table>
  <col style="width:30%">
  <col style="width:20%">
  <col style="width:50%">
  
  <tr>
    <th>CATEGORY</th>
    <th>ITEM</th>
    <th>DESCRIPTION</th>
  </tr>
  
  <% @t.each do |tbl| %>
    <tr>
      <td><%=tbl.category %></td>
      <td><%=tbl.item %></td>
      <td><%=tbl.itemdesc %></td>
      <td><%= link_to 'Edit', {controller: "sysmaintli", action: "edit", id: tbl.id, p1: tbl.mcode, p2: tbl.dte,
                              p4: tbl.item, p5: tbl.itemdesc, p6: tbl.category} %></td>
    </tr>
  <% end %>
  
  
</table>

<br>
<p>Add new item:</p>
<%= form_for :menuli, url: sysmaintli_index_path do |f| %>    
    <p><%= f.hidden_field :mcode, :value=>params[:p1] %></p>
    <p><%= f.hidden_field :dte, :value=>params[:p2] %></p>
    <p>Category: <%= f.text_field :category %></p>
    <p>Item: <%= f.text_field :item %></p>
    <p>Description: <%= f.text_field :itemdesc %></p>
    <p><%= f.submit %></p>
<% end %>

<%= link_to 'Back',  new_sysmaint_path %> 

</body>